<% provide :title, t(".edit_user") %>
<% provide :button_text, t(".save_changes") %>
<div class="activation-page edit-user-page">
  <div class="activation-form">
    <small><%= t "_header.brand" %></small>
    <h2><%= t ".edit_user" %></h2>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <%= link_to "http://gravatar.com/emails", target: "_blank", class: "mt-3 btn btn-dark" do %>
            <%= t ".change" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <%= render "shared/form" %>
      </div>
    </div>
  </div>
</div>
