<%= render "shared/error_messages", object: @user %>
<%= form_for @user do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :password_confirmation, t("users.confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>
  <%= f.submit yield(:button_text), class: "btn btn-block btn-confirm" %>
<% end %>
